{% extends 'base.html' %}
{% block title %}
Employee Details
{% endblock %}

{% block content %}

<nav class="navbar navbar-expand-md navbar-dark blurred-box">
    <a class="navbar-brand" href="#">Admin dashboard</a>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link colorwhite" href="{{ url_for('<admin>.Admin')}}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link colorwhite" href=detail_update/{{employee_details.email}}>Edit</a>
      </li>
    </ul>
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link colorwhite">Employee,  {{ employee_details.first_name }} </a>
    </li>
    </ul>
  </nav>

<div class="margin5 ">
    <div class=" blurred-box">
<table class="table colorwhite ">
    <tbody>
      <tr>
        <th scope="row">First Name</th>
        <td> {{ employee_details.first_name }}</td>
     
      </tr>
      <tr>
        <th scope="row">Last Name</th>
        <td> {{ employee_details.last_name }}</td>
       
      </tr>
      <tr>
        <th scope="row">Email</th>
        <td> {{ employee_details.email }}</td>
      
      </tr>
      <tr>
        <th scope="row">DOB</th>
        <td> {{ employee_details.dob }}</td>
      
      </tr>
      <tr>
        <th scope="row">Phone Number</th>
        <td> {{ employee_details.phone_number }}</td>
       
      </tr>
      <tr>
        <th scope="row">Address</th>
        <td> {{ employee_details.address }}</td>
      </tr>
    </tbody>
  </table>
    </div>
  </div>
{% endblock %}