{% extends 'base.html' %}
{% block title %}
Employee Details
{% endblock %}

{% block content %}
{% if current_user.is_authenticated %}
<div class="margin5 ">
    <div class=" blurred-box">
<table class="table colorwhite ">
    <tbody>
      <tr>
        <th scope="row">First Name</th>
        <td> {{ current_user.first_name }}</td>
     
      </tr>
      <tr>
        <th scope="row">Last Name</th>
        <td> {{ current_user.last_name }}</td>
       
      </tr>
      <tr>
        <th scope="row">Email</th>
        <td> {{ current_user.email }}</td>
      
      </tr>
      <tr>
        <th scope="row">DOB</th>
        <td> {{ current_user.dob }}</td>
      
      </tr>
      <tr>
        <th scope="row">Phone Number</th>
        <td> {{ current_user.phone_number }}</td>
       
      </tr>
      <tr>
        <th scope="row">Address</th>
        <td> {{ current_user.address }}</td>
      </tr>
    </tbody>
  </table>
    </div>
  </div>
  {% endif %}
{% endblock %}