{% extends  "base.html" %}
{% block title %}
Register
{% endblock %}

{% block content %}
<section >
  <ul class="circles">
  {% for x in range(10) %}
    <li></li>
    {% endfor %}
  </ul>
    <div class="container py-5">
      <div class="row justify-content-center align-items-center">
        <div class="col-12 col-lg-9 col-xl-7">
          <div class="card shadow-2-strong card-registration blurred-box" >
            <div class="card-body p-4 p-md-5">
              <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Login Form </h3>
              <form class="form-register" method="POST">
                {{ form.hidden_tag() }}
                {{ form.email.label }}
                {{ form.email(class="form-control",placeholder="Email")}}
                {{ form.password.label }}
                {{ form.password(class="form-control",placeholder="password")}}
                <div class="checkbox mb-3">
                  <h6>Do not have an account?</h6>
                  <a class="btn btn-sm btn-secondary" href="{{ url_for('<register>.Register') }}">Register</a>
               </div>
   
                {{ form.submit_field(class="btn btn-lg btn-block btn-primary") }}              
           
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
    
